# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# PostgreSQL / database files
*.sql.bak

# Spark
spark-warehouse/
metastore_db/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/